@model NutriPaulo.Models.CaracteristicasFisicas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaracteristicasFisicas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biotipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biotipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaId.PessoasId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CaracteFisicasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
