@model IEnumerable<NutriPaulo.Models.RelatorioPrincipal>

<h1 style="text-align:center">Relatório De Pacientes</h1>


<table class="table table-hover table-dark" style="margin:0 auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Paciente")
            </th>
            <th>
                @Html.DisplayName("CPF")
            </th>
            <th>
                @Html.DisplayName("RG")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoas.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoas.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoas.RG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoas.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RelatorioPrincipalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RelatorioPrincipalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RelatorioPrincipalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    table{
        width:400px;
        
    }
    body {
        font-family: sans-serif;
        background-color: #3f51b5;
        color: #f9fbe7;
    }
</style>