@model NutriPaulo.Models.Pessoas



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutriPaulo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="conteudo">

        <div class="Titulo">
            <h1 class="display-5">
               Paulo Santos
            </h1>
            <p><em> Você já se perguntou por que algumas pessoas comem, comem e comem e nunca engordam? Ou porque outras não podem nem olhar para um docinho que já ganham cinco quilos? Se pensou genética ou metabolismo, você está certo. Na verdade, a combinação dos dois é chamada de biotipo corporal.</em></p>
            <p><em> O biotipo corporal corresponde ao modelo de corpo que pode ser influenciado pela constituição óssea, metabolismo, massa muscular e quantidade de gordura..</em></p>
        </div>

        <div class="form-group  ">
            @Html.LabelFor(model => model.CaracteristicasFisicas.Biotipo, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(model => model.CaracteristicasFisicas.Biotipo, new { @class = "form-control", @placeholder = "Digite seu nome", @style = "width:400px;" })
            <div class="alert-danger">
                @Html.ValidationMessageFor(model => model.CaracteristicasFisicas.Biotipo)
            </div>
        </div>

        <div class="form-group  ">
            @Html.LabelFor(model => model.CaracteristicasFisicas.Idade, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(model => model.CaracteristicasFisicas.Idade, new { @class = "form-control", @placeholder = "Digite seu sobrenome", @style = "width:400px;" })
            <div class="alert-danger">
                @Html.ValidationMessageFor(model => model.CaracteristicasFisicas.Idade)
            </div>
        </div>

        <div class="form-group  ">
            @Html.LabelFor(model => model.CaracteristicasFisicas.Altura, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(model => model.CaracteristicasFisicas.Altura, new { @class = "form-control", @placeholder = "Digite seu sobrenome", @style = "width:400px;" })
            <div class="alert-danger">
                @Html.ValidationMessageFor(model => model.CaracteristicasFisicas.Altura)
            </div>
        </div>

        <div class="form-group  ">
            @Html.LabelFor(model => model.CaracteristicasFisicas.Peso, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(model => model.CaracteristicasFisicas.Peso, new { @class = "form-control", @placeholder = "Digite seu sobrenome", @style = "width:400px;" })
            <div class="alert-danger">
                @Html.ValidationMessageFor(model => model.CaracteristicasFisicas.Peso)
            </div>
        </div>



        <div class="form-group  ">
            @Html.LabelFor(model => model.RG, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(model => model.RG, new { @class = "form-control", @placeholder = "Digite seu sobrenome", @style = "width:400px;" })
            <div class="alert-danger">
                @Html.ValidationMessageFor(model => model.RG)
            </div>
        </div>


        <div class="conteudoInferior">
            <button class="meubtn"> <a href='@Url.Action("Biotipo", "Pessoas")' class="btn btn-primary"> Conte nos um pouco sobre a sua rotina . </a> </button>
        </div>


    </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>












@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #3f51b5;
        font-family: sans-serif;
        font-weight: bold;
        color: #f9fbe7;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }


    .Titulo {
        margin: 0 auto;
        text-align: center;
    }


    .meubtn {
        padding: 10px 10px;
        border-radius: 10px;
        border: none;
        font-family: sans-serif;
        margin: 0 auto;
    }
    }
</style>


